"use client";

export default function {{name}}({ initialData }: { initialData: any }) {
  return (
    <div>
      {/* Implement component logic */}
      <pre>{JSON.stringify(initialData, null, 2)}</pre>
    </div>
  );
}
